.box {
    height: 120px;
    width: 160px;
  }
  
  .box .rectangle {
    background-color: #7d7bdb;
    border-radius: 10px;
    height: 120px;
    left: 0;
    position: fixed;
    top: 0;
    width: 160px;
    /* font-size: 3em;
    font-weight: bold;
    line-height: 120px;
    margin: 5px; */
  }