.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.flex-container {
  display: flex;
  overflow-x: auto;
  /* Enable horizontal scrolling */
}

.card {
  flex: 0 0 auto;
  /* Ensure cards don't grow to fill the container */
  width: 200px;
  /* Set the width of each card as needed */
  margin: 15px;
  /* Add spacing between cards */
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0; 0; 0; 0.1);
  text-align: left;
  color: black;
}

.content {
  margin-top: 60px;
  padding-bottom: 20px;
}

.date {
  opacity: 70%;
}

.description {
  opacity: 80%;
}


.rounded-button {
  background-color: #090909;
  /* Button background color */
  color: #fff;
  /* Text color */
  padding: 10px 20px;
  /* Adjust padding as needed */
  border: none;
  /* Remove the default border */
  border-radius: px;
  /* Add border radius to create a curved button */
  cursor: pointer;
}

/* Hover effect */
.rounded-button:hover {
  background-color: #282829;
  /* Change the background color on hover */
}

.center {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
}



