body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: 'Roboto';
  -moz-osx-font-smoothing: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: rgba(227, 70, 91, 0.839);
  padding: 5px 15px;
  border: 2px solid #00000082;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px
}

button:hover {
  background-color: rgba(235, 30, 30, 0.556);
  padding: 5px 15px;
  border: 2px solid #00000082;
}
